.todo-title{
	color: #ffa500;
	font-size:50px;
	margin-bottom:20px;
}

body{
	margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.mb-4{
	padding-left:100px ;
	width:600px ;
}

}
table{
	height:400px;
	width:300px;
}

.list-group{
	padding-left:160px;
	width:300px;
	display: block;
    text-align: left;
    text-align: center;
}


.container{
}
.button-container {

  padding: 20px 100px 30px 100px;
}

/* Every row inside .login-container is defined with p tags */
.list-group td{
  padding: 10px 30px 10px 30px;
}

.button input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}


.list-group td{
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-left:50px ;
  margin-top:10px;
  padding-left:40px;
}

.list-group td:hover {
  background: #17c;
}

/* Buttons' focus effect */
.list-group td:focus {
  border-color: #05a;
}